/*------------------------------------*\
    CONTENT.CSS
\*------------------------------------*/

.main-content{    
    padding: 20px 0;
}


/**
 * Sidebar
 */

@include media(medium){
    .sp-sidebar{
        // @extend .columns;
        width: gridCalc(4);
    }
}

@include media(wide){
    .sp-sidebar{
        width: gridCalc(3);
    }
}


/**
 * Content
 */

.sp-content{
    @include media(medium){
        // @extend .columns;
        width: gridCalc(8);
    }

    @include media(wide){
        width: gridCalc(9);
    }
}


/**
 * Collapsible content
 */

.is-mobile-collapsible{

    display: none;
    
    &.is-expanded{

        display: block;

    }

    @include media(medium){
        display: block;
    }
}