/*------------------------------------*\
    Listing
\*------------------------------------*/

.sp-listing{
    @include rem(padding-bottom);
}

/**
 * Sp Article
 */

.sp-item{
    padding: 20px 0;    
    border-bottom: 1px $base-ui-color solid;

    &:first-child{
        padding-top: 0;
    }
}