/*------------------------------------*\
    MODULE
\*------------------------------------*/

.sp-module{
    background: #fff;
    box-shadow: $base-box-shadow;   
    @include rem(margin-bottom);

    /**
     * Module content
     */

    .module-content{
        padding: 15px;
    }
}



/**
 * Module title
 */

.sp-module-title{
    @extend .epsilon;
}


