/*------------------------------------*\
    NAVIGATION.CSS
\*------------------------------------*/

/**
 * Primary
 */

.nav-primary{
    
    a{
        margin-right: 1em;
    }
    
}


/**
 * Nav secondary
 */

.nav-secondary{
    a{
        margin-right: 1em;
    }
}


/**
 * Nav sidemenu
 */

.nav-sidemenu{

    a{
        @include link-colors($base-color, $base-color, $base-color);
    }

    > a{
        display: block;
        padding: 5px 10px;
        border-top: 1px $base-ui-color solid;
    
        /* Hover and focus */

        &:hover, &:focus{            
            text-decoration: none;
            background-color: $base-ui-color;
        }

        /* Active pseudo */
        
        &:active{
            background-color: darken($base-ui-color, 5%);
        }

        /* Active link */

        &.active{
            font-weight: 600;
        }

        &:first-child{
            border-top: none;
        }
    }
}


/**
 * Pagination
 */

.nav-pagination{
    text-align: center;    
    @include rem(padding-bottom);        

    a{
        display: inline-block;
        padding: 8px 15px;
        border: 1px $base-ui-color solid;        
        border-width: 1px 1px 1px 0;
        background: #fff;
        color: $base-color;

        &:first-child{
            border-left-width: 1px;
            border-top-left-radius: $base-radius;
            border-bottom-left-radius: $base-radius;
        }

        &:last-child{
            border-top-right-radius: $base-radius;
            border-bottom-right-radius: $base-radius;
        }

        &:hover, &:focus{
            text-decoration: none;
            background-color: $base-ui-color;
        }

        &.active{
            background-color: $color-brand;
            color: #fff;
        }
    }
}


/**
 * Nav crumbs
 */

.nav-crumb{
    @include rem(padding-top, 0.5);
    @include rem(padding-bottom, 0.5);

    a{
        @include link-colors($color-brand, $color-brand, $color-brand);
    }

    a{
        padding-right: 14px;
        margin-right: 10px;
        position: relative;

        &:after{
            content: "\f0da";
            font-family: "FontAwesome";
            position: absolute;
            right: 0;
            top: 1px;
            color: #999;
        }
    }
}


/**
 * Nav alpha
 */

.nav-alpha{
    @include rem(padding-bottom, 0.5);
    a{
        padding: 0 5px;
        color: $base-color;

        &:hover{

        }
    

        &.active{
            font-weight: 600;
            color: $color-brand;
        }
    }
}