/*------------------------------------*\
    RULES
\*------------------------------------*/

.rule{
    color:$base-ui-color;
    border:none;
    border-bottom-width:1px;
    border-bottom-style:solid;
    
    margin: 15px 0;
}