// Footer
.sp-footer
    .container
        .row

            // Columns
        
            .columns.eight

                h2.text-jura.delta MY RECENT VISITS
                
                // Two column
                .row
                    ul.list-unstyled.columns.six
                        li: a(href="#") People Connect
                        li: a(href="#") SingTel In-house Service Request System (SIR)
                        li: a(href="#") BillQuest
                    ul.list-unstyled.columns.six
                        li: a(href="#") Business card branding guidelines
                        li: a(href="#") Corporate Presentation Template
                        li: a(href="#") Group Enterprise Case studies

            .columns.four

                h2.text-jura.delta ESPRESSO SUPPORT

                // List
                ul.list-unstyled.list-icons
                    li: a(href="tel:+6565467485")
                        em.fa.fa-phone.fa-fw
                        | +65 6546 7485
                    li: a(href="mailto:espresso-support@singtel.com")
                        em.fa.fa-envelope.fa-fw
                        | espresso-support@singtel.com
                    li: a(href="#")
                        em.fa.fa-book.fa-fw
                        | Learn how to use Espresso

                    li: a(href="#")
                        em.fa.fa-user.fa-fw
                        | Contact your department Espresso Champion

                // / List
            // / Columns