// form
.search-form
    input.text-input(type="text", placeholder="Search everything")
    button.btn-search(title="Search")
        em.fa.fa-search


    // Sharepoint dropdown
    button.btn-sp-caret(title="Filter search")
        em.fa.fa-caret-down
    // / Sharepoint dropdown
// / form